server {
        listen 10.99.0.10:80;
        server_name ip.arpgate.com;
        root html;
        index index.html index.htm;
        location / {
                proxy_pass http://10.99.0.10:3001;
                proxy_set_header Host $host;
        		proxy_set_header X-Real-IP $remote_addr;
        		proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        }
}

